doctype html
html(lang="en")
  head
    title Jade
    script(type="text/javascript").
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }jQuery
  body
    div.container
      div#fff
        p#jkdjf You are amazing
        p#klsjd hhhhh
      p#skljf
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
